body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input {
  margin: 5px 0;
  padding: 5px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.preview-img {
  max-width: 50px;
  display: none;
  margin: 5px auto;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  background-color: #f9f9f9;
}

.btn-eliminar {
  background-color: red;
  color: white;
  padding: 5px;
  cursor: pointer;
}

#galeria img, #galeria video {
  max-width: 150px;
  margin: 10px;
}
